/**
 * @Date:   2019-11-05T14:04:21+00:00
 * @Last modified time: 2019-11-08T14:46:59+00:00
 */
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Roboto&display=swap');

body{
  background-image: linear-gradient(to right, #1c1a1a,#282929);
  color: #e0dada;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.home{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-left: 6px;
  margin-top: 12px;
}

h2{
  font-size: 28px;
  margin-left: 6px;
  margin-top: 6px;
  font-family: 'Cinzel Decorative', cursive;
}

.img{
  align-self: center;
}

.card{
  background-color:#4d4949;
}

.navbar-brand{
  font-family: 'Cinzel Decorative', cursive;
}

.card-title{
  font-family: 'Cinzel Decorative', cursive;
}

.form{
  margin-left: 12px;
}

.link{
  color:#e0dada;
  font-size: 18px;
  margin-left: 6px;
}

.link:hover{
  color:#f2f2f2;
  text-decoration: none;
}
